<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Admin/AddQL.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
</head>
<body>

<h2 align="center">Thêm Quản Lý Phòng Máy</h2>
<br><br>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">
      
        <div class="row">
          <div class="col-50">
            <h3>Thông tin quản lý phòng máy</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
            <label for="city"><i class="fa fa-phone"></i> Phone Number</label>
            <input type="text" id="phone" name="phone" placeholder="0966524235">

            <div class="row">
              <div class="col-50">
                <label for="birthday">Username:</label>
                <input type="text" id="username" name="username" placeholder="SherlockSon">
              </div>
              <div class="col-50">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
                <input type="checkbox" onclick="myFunction()">Show Password
              </div>

            </div>

            <div class="row">
              <div class="col-50">
                <label for="birthday">Gender</label>
                <div class="select">
                    <select name="format" id="format">
                        <option style="color: black;" value="Nam">Nam</option>
                        <option style="color: black;" value="Nữ">Nữ</option>
                    </select>
                </div>
              </div>
              <div class="col-50">
                <label for="birthday">Birthday:</label>
                <input type="date" id="birthday" name="birthday">
              </div>
            </div>
          </div> 
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <div class="row">
              <div class="col-50">
                <input style="background-color: red;" type="button" value="Cancel" class="btn">
              </div>
              <div class="col-50">
                <input type="submit" value="Thêm" class="btn">
              </div>

            </div>

      </form>
    </div>
  </div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>


</body>
</html>
