<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="~/css/Admin/ChangePass.css" />
</head>
<body>

<form action="/action_page.php">
  <div class="container">
    <h1>Đổi mật khẩu</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="oldPass"><b>Mật khẩu cũ</b></label>
    <input type="text" placeholder="Nhập mật khẩu cũ" name="oldPass" required>

    <label for="newPass"><b>Mật khẩu mới</b></label>
    <input type="password" placeholder="Nhập mật khẩu mới" name="newPass" required>

    <label for="psw-repeat"><b>Xác nhận mật khẩu mới</b></label>
    <input type="password" placeholder="Nhập lại mật khẩu mới" name="psw-repeat" required>
    <hr>
    <div class="clearfix">
        <button type="button" class="cancelbtn">Cancel</button>
        <button type="submit" class="OK">Save Change</button>
      </div>
  </div>
  
</form>

</body>
</html>
