<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Admin/ListQL.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
  <h1 style="text-align: center;"> Danh sách quản lý phòng máy</h1><br>
  <form class="example" style="margin:auto;max-width:300px">
    <input type="text" placeholder="Search.." name="search2">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <button class="button" onclick="window.location.href='AddQL_AD'">Thêm quản lý phòng máy</button>
  <br><br>
<table id="customers">
  <tr>
    <th>ID</th>
    <th>Họ và Tên</th>
    <th>Số điện thoại</th>
    <th>Email</th>
    <th>Xem chi tiết</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="">Xem chi tiết</a></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="">Xem chi tiết</a></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="">Xem chi tiết</a></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="">Xem chi tiết</a></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="">Xem chi tiết</a></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="">Xem chi tiết</a></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="">Xem chi tiết</a></td>
  </tr>
  
</table>

</body>
</html>
